$primary: #8138b7;

#hero {
  background-image: url("../assets/background.jpg");
}

// #toc {
//   --level: 1;
//   li {
//     padding-left: calc(0 + calc(var(--level) - 1)) + 1rem;
//   }
// }

#article {
  font-size: 18px;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.6;
  span[aria-hidden="true"] {
    display: none;
  }
  h1,
  h2,
  h3,
  h4 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    font-weight: 600;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.4rem;
  }

  p {
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
  }
  aside {
    p {
      margin: 0;
    }
    img {
      margin: 0;
    }
  }

  p code {
    background-color: whitesmoke;
    color: rgb(212, 8, 1);
    padding: 0 6px;
  }

  img {
    max-width: 100%;
    max-height: 900px;
    object-fit: cover;
    margin-bottom: 3rem;
  }
  blockquote {
    font-size: 1.5rem;
    font-style: italic;
    border-left: 5px solid $primary;
    color: var(--clr-grey-5);
    padding-left: 1rem;
    line-height: 2;
    margin-bottom: 1.5rem;
    ul {
      list-style-type: none;
      margin-left: 1rem;
      font-style: normal;
      margin-top: -1rem;
    }
    li::before {
      content: "-";
      margin-left: -5px;
    }
  }

  audio {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  blockquote ::first-letter {
    text-transform: uppercase;
  }

  ul {
    list-style-type: disc;
    margin-left: 2rem;
  }

  ol {
    list-style-type: decimal;
    margin-left: 2rem;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  a:hover {
    text-decoration: underline;
  }

  .markdown-alert {
    background-color: hsl(0, 0%, 85%);
    border: 2px solid hsl(0, 0%, 65%);
    padding: 0 0.75rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .markdown-alert-title {
      border-bottom: 2px solid hsl(0, 0%, 65%);
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
  }

  .markdown-alert-note {
    background-color: hsl(186, 77%, 47%);
    color: hsl(186, 77%, 17%);
    .markdown-alert-title {
      border-bottom: 2px solid hsl(186, 77%, 37%);
    }
  }

  .markdown-alert-important {
    background-color: hsl(286, 77%, 77%);
    color: hsl(286, 77%, 17%);
    .markdown-alert-title {
      border-bottom: 2px solid hsl(286, 77%, 37%);
    }
  }

  .markdown-alert-tip {
    background-color: hsl(133, 78%, 77%);
    color: hsl(133, 77%, 17%);
    .markdown-alert-title {
      border-bottom: 2px solid hsl(133, 77%, 37%);
    }
  }

  .markdown-alert-warning {
    background-color: hsl(69, 78%, 77%);
    color: hsl(69, 77%, 17%);
    .markdown-alert-title {
      border-bottom: 2px solid hsl(69, 77%, 37%);
    }
  }

  .markdown-alert-caution {
    background-color: hsl(0, 78%, 77%);
    color: hsl(0, 77%, 17%);
    .markdown-alert-title {
      border-bottom: 2px solid hsl(0, 77%, 37%);
    }
  }
}

// typography

::selection {
  color: white;
  background: $primary;
}

#article a {
  color: $primary;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  overflow-x: hidden;
}

// other elements

pre {
  background: #222;
  display: inline-block;
  border-radius: 15px;
  padding: 1rem 2rem;
  color: yellow;
  margin-bottom: 1.5rem;
  max-width: 800px;
  box-shadow: 0px 10px 8px 2px #22222236;
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
}

ol {
  list-style-type: decimal;
  margin-left: 2rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  #article {
    #aside {
      flex-wrap: wrap;
    }
  }

  body {
    font-size: 18px;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.25rem;
    }
  }
}
